<!DOCTYPE html>
<html>
	<head>
		<title>Captcha.ge</title>

		<link rel="stylesheet" href="/semantic/semantic.min.css">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="/javascript/app.js"></script>

		<style>
			.main.container {
				padding-top: 7em;
			}
		</style>
	</head>

	<body>
		<div class="ui fixed inverted menu">
            <a href="/" class="header item">Accueil</a>
			<a href="/message" class="item">Messagerie</a>
            <a href="/formulaire" class="item">+ Captcha</a>
        </div>

		<div class="ui main container">
			<% if (locals.flash && locals.flash.error) { %>
			<div class="ui negative message">
				<%= flash.error %>
			</div>
			<% } %>
			<% if (locals.flash && locals.flash.success) { %>
			<div class="ui positive message">
				<%= flash.success %>
			</div>
			<% } %>
