<%- include ("../layouts/header") %>

<h1>Ajouter un captcha</h1>

<form actions="/formulaire" enctype="multipart/form-data" method="post" class="ui form">
	<div class="field">
		<label for="name">Nom*</label>
		<input type="text" name="name" id="name" placeholder="Nommer le captcha" max-maxlength="55" required>
	</div>

	<div class="field">
		<label for="theme">Thème*</label>
		<select name="theme_id" id="theme" required>
		    <option value="" selected disabled>Selectionner un thème</option>
			<% for (theme of themes) { %>
			<option value="<%= theme.id %>"><%= theme.name %></option>
			<% } %>
		</select>
	</div>

	<div class="field">
		<label for="neutres">Lot d'images neutres*</label>
		<input type="file" name="neutres" id="neutres" accept=".zip" multiple="multiple" required>
	</div>

	<!--<div class="field">
		<label for="singuliers">Lot d'images singulières*</label>
		<input type="file" name="singuliers" id="singuliers" accept=".zip" multiple="multiple" required>
	</div>-->

	<!--<div class="field">
		<label for="indices">Ajouter un lot d'indices ?</label>
		<input type="checkbox" name="indices" id="indices" value="true" checked>
	</div>-->

	<button type="submit" class="ui blue labeled submit icon button">
		<i class="icon edit"></i> Soumettre
	</button>
</form>

<%- include ("../layouts/footer") %>
