<%- include ("../layouts/header") %>

<h1>Captcha disponible(s) :</h1>

<% for (package of packages) { %>
<a href=""><strong><%= package.name %> : </strong>&lt;div id="<%= package.name %>"&gt;&lt;/div&gt;</a><br />
<% } %>

<%- include ("../layouts/footer") %>
